<div class="search-div">
    <input class="search-input" type="text" placeholder="Поиск в Каталоге." tabindex="1" name="query" data-bind="value: search_string, event: { 'keyup': handleKeyDown }, valueUpdate : 'afterkeydown'" />
</div>
<p data-bind="text: model.message"></p>
<div class="schema-products" data-bind="foreach: model.products">
    <div class="schema-product-group">
        <div class="schema-product">

            <div class="schema-product-part schema-product-part_1">

                @*<div class="schema-product-compare">
                        <div data-bind="template: {name: 'schema-product-compare-template', data: product}">
                            <label class="schema-product__control" data-bind="attr: {'title': $data.isCompared() ? 'В сравнении' : 'В сравнение'}" title="В сравнение">
                                <span class="i-checkbox i-checkbox_yellow">
                                    <input type="checkbox" class="i-checkbox__real" data-bind="checked: $data.isCompared">
                                    <span class="i-checkbox__faux"></span>
                                </span>
                            </label>
                        </div>
                    </div>*@

                <div class="schema-product-image">
                    <a href="">
                        <img data-bind="attr:{src: images.header}" alt="" title="" style="max-width: 84.1176%;">
                    </a>
                </div>

            </div>

            <div class="schema-product-part schema-product-part_2">
                <div class="schema-product-part schema-product-part_3">

                    <div class="schema-product-price-group" data-bind="with: prices">
                        <div class="schema-product-price">
                            <a class="schema-product-price-value schema-product-price-value_primary" data-bind="attr:{href:html_url}">
                                от <span data-bind="text: price_min.amount +' '+ price_min.currency"></span>
                                до <span data-bind="text: price_max.amount +' '+ price_max.currency"></span>
                            </a>
                        </div>

                        <div class="schema-product-offers">
                            <a class="button button_orange schema-product-button" data-bind="attr:{href:html_url}">
                                <span data-bind="text:'Предложений:' + offers.count"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="schema-product-part schema-product-part_4">

                    <div class="schema-product-title">
                        <a data-bind="attr:{href:html_url}">
                            <span data-bind="text: full_name"></span>
                        </a>
                    </div>

                    <div class="schema-product-description">
                        <span data-bind="text: description"></span>
                    </div>

                    <div class="schema-product-info">
                        <div class="schema-product-rating-group">
                            <a class="schema-product-rating" data-bind="attr:{href:reviews.html_url}">
                                <span data-bind="attr: {class: 'rating rating_' + reviews.rating}"></span>
                                <span class="schema-product-review-count">
                                    <span data-bind="text: 'отзывов: '+reviews.count"></span>
                                </span>
                            </a>
                        </div>

                        <div class="schema-product-info-additional" data-bind="if: review_url != null">
                            <a class="schema-product-info-link" data-bind="attr:{href:review_url}">Обзор</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
