<div style="display:-webkit-inline-box">
    <div class="search-div">
        <input class="desktop-search-input search-input" type="text" placeholder="Поиск в Каталоге." ng-model="search_string" tabindex="1" name="query" value="{{search_string}}" ng-change="getSearchProducts(search_string)" />
    </div>
    <div id="currencyid" style="margin-top:18px;">
        <div class="input-group">
            <select class="form-control" ng-model="selectedCurrency" ng-options="x.name for x in currencies"></select>
        </div>
    </div>
</div>
<div id="loader" style="display: none"></div>
<div id="productDiv" style="display: none">
    @Html.Partial("_Products")
</div>