<div class="search-div">
    <input class="search-input" type="text" placeholder="Поиск в Каталоге." tabindex="1" name="query" data-bind="value: search_string, event: { 'keyup': handleKeyDown }, valueUpdate : 'afterkeydown'" />
</div>
@Html.Partial("_Products")
