<style>
    .mobile-div {
        position: relative;
        min-height: 1px;
        display: -webkit-inline-box;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }

    .mobile-search-div {
        position: relative;
        display: block;
        min-height: 1px;
        padding-left: 15px;
    }

    .mobile-currency-div {
        margin-top: 18px;
        position: relative;
        min-height: 1px;
    }
</style>
<div style="display:-webkit-inline-box" class="mobile-div">
    <div class="mobile-search-div">
        <input class="search-input" type="text" placeholder="Поиск в Каталоге." ng-model="search_string" tabindex="1" name="query" value="{{search_string}}" ng-change="getSearchProducts(search_string)" />
    </div>
    <div id="currencyid" class="mobile-currency-div">
        <div class="input-group">
            <select class="form-control" ng-model="selectedCurrency" ng-options="x.name for x in currencies"></select>
        </div>
    </div>
</div>
@Html.Partial("_Products")