@section Styles{
    @*@Styles.Render("~/Content/search")*@
    <link href="~/Content/onliner.css" rel="stylesheet" />
    <link href="~/Content/onliner.addition.css" rel="stylesheet" />
}
@section SPAViews {
    <div ng-controller="APIController">
        @Html.Partial("_Search")
    </div>
}
@section Scripts{
    <script src="~/Scripts/APIScripts/search.controller.js"></script>
    <script src="~/Scripts/APIScripts/search.service.js"></script>
}
