@section Styles{
    <link href="~/Content/onliner.css" rel="stylesheet" />
    <link href="~/Content/onliner.addition.css" rel="stylesheet" />
    <link href="~/Content/timestyle.css" rel="stylesheet" />
}
@section SPAViews {
    <div ng-controller="APIController">
        @Html.Partial("_Search")
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/search")
}
